@tailwind base;
@tailwind components;
@tailwind utilities;
.dark {
    --tw-text-opacity: 1 !important;
    color: rgba(229, 231, 235, var(--tw-text-opacity));
    --tw-bg-opacity: 1 !important;
    background-color: #374151;
    
    /* background-color: rgba(17, 24, 39, var(--tw-bg-opacity)); */
}